{
    "plugins": [
        "transform-class-properties",
        [
            "component",
            {
                "libraryName": "element-ui",
                "styleLibraryName": "theme-chalk"
            }
        ],
        [
            "import",
            {
                "libraryName": "iview",
                "libraryDirectory": "src/components"
            }
        ]
    ]
}