@font-face {
  font-family: "iconfont"; /* Project id 2414869 */
  src: url('iconfont.woff2?t=1622013263031') format('woff2'),
       url('iconfont.woff?t=1622013263031') format('woff'),
       url('iconfont.ttf?t=1622013263031') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zoom-out:before {
  content: "\e655";
}

.icon-format-page-break:before {
  content: "\e766";
}

.icon-page-break:before {
  content: "\e750";
}

.icon-colum-height:before {
  content: "\eafe";
}

.icon-column-width:before {
  content: "\eaff";
}

.icon-Zoomin-Outlined:before {
  content: "\e6c3";
}

.icon-Zoomout-Outlined:before {
  content: "\e6cd";
}

.icon-tags-fill:before {
  content: "\eba1";
}

.icon-dotshorizontal:before {
  content: "\e7cd";
}

.icon-dotsvertical:before {
  content: "\e7ce";
}

.icon-ai247:before {
  content: "\e6eb";
}

.icon-xiahuaxian:before {
  content: "\e669";
}

